/*-- scss:defaults --*/
$color1: #0e2318;  /* section-background-color */
$color2: #f26522;  /* narrative-background-color-overlay */
$color3: #A9A9A9;  /* narrative-background-color-sidebar */
$color4: #ffffff;  /* narrative-text-color-overlay */
$color5: #FFFDD0;  /* main page background */
$color6: #000000;  /* general text / headings */

img {
  max-width: 100%;       /* Ensures the image doesn't exceed the screen width */
  max-height: 100vh;     /* Ensures the image doesn't exceed the screen height */
  object-fit: contain;   /* Maintains the aspect ratio of the image */
  display: block;        /* Removes unwanted space below the image (optional) */
  margin: auto;          /* Centers the image horizontally (optional) */
}

body {
  font-family: sans-serif;
  background-color: $color5;
  color: #FFFFFF;
}

.custom-title {
  color: $color1;
  text-align: center;
  margin: 20px 0;
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  color: $color4 !important;
}

div.custom-title {
  color: $color6 !important;
}

h2 {
  color: $color3 !important;
  font-weight: bold;
}

/* Highlight panel */
.highlight-panel {
  background-color: $color2;
  border-left: 5px solid $color3;
  padding: 20px;
}


.overlay-center {
  .narrative-col {
    opacity: 0.85;
    justify-self: center;
  }
}
